<footer class="bg-light text-dark pt-5 pb-4">
    <div class="container text-center text-md-left">
        <div class="row text-center text-md-left">
            <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
                <h5 class="text-uppercase mb-4 font-weight-bold text-primary">About Us</h5>
                <hr class="mb-4">
                <p>An Application Tracking System aimed at ensuring efficient governance within Rajkot Gram and Jilla Panchayat. This system intends to streamline the process of handling applications, requests, and services offered by the local government, providing transparency and accountability.</p>

            </div>
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
                <h5 class="text-uppercase mb-4 font-weight-bold text-primary">Let Us Help</h5>  
                <hr class="mb-4">
                <p>
                    <a href="#" class="text-dark" style="text-decoration:none">Your Account</a>
                </p>
                <p>
                    <a href="#" class="text-dark" style="text-decoration:none">Your Applications</a>
                </p>
                <p>
                    <a href="#" class="text-dark" style="text-decoration:none">Manage Your Applications</a>
                </p>
                <p>
                    <a href="#" class="text-dark" style="text-decoration:none">Help</a>
                </p>
            </div>
            <!-- <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
                <h5 class="text-uppercase mb-4 font-weight-bold text-primary">Make Money</h5>  
                <hr class="mb-4">
                <p>
                    <a href="#" class="text-dark" style="text-decoration:none">Sell Products on Our Website</a>
                </p>
                <p>
                    <a href="#" class="text-dark" style="text-decoration:none">Advertise Your Products</a>
                </p>
                <p>
                    <a href="#" class="text-dark" style="text-decoration:none">Becomes An Affiliate</a>
                </p>
                <p>
                    <a href="#" class="text-dark" style="text-decoration:none">Self-Publish</a>
                </p>
            </div> -->
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
                <h5 class="text-uppercase mb-4 font-weight-bold text-primary">Contact</h5>  
                <hr class="mb-4">
                <p>
                   <li class="fas fa-home mr-3"></li>8Q4W+XJM,Shroff Rd,Sardar,Rajkot,Gujarat 360001
                </p>
                <p>
                    <li class="fas fa-envelope mr-3"></li>dyddo-vikas-raj@guajarat.gov.in
                 </p>
                 <p>
                    <li class="fas fa-phone mr-3"></li>02811-23456
                 </p>
                 <p>
                    <li class="fas fa-print mr-3"></li>01243-56789
                 </p>
            </div>

            <hr class="mb-4">
            <div class="row d-flex justify-content-center">
                <div>
                    <p>
                        Copyright 2023 All Rights Reserved By :
                        <a href="#" style="text-decoration: none;">
                        <strong class="text-primary">The ATS</strong>
                    </a>
                    </p>
                </div>
            </div>
            <div class="row d-flex justify-content-center">
                <div class="text-center">
                    <ul class="list-unstyled list-inline">
                        <li class="list-inline-item">
                            <a href="#" class="text-dark"><i class="fab fa-facebook"></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#" class="text-dark"><i class="fab fa-twitter"></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#" class="text-dark"><i class="fab fa-google-plus"></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#" class="text-dark"><i class="fab fa-linkedin-in"></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#" class="text-dark"><i class="fab fa-youtube"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>

<style>
    footer{
        margin-top: 14rem;
    }
</style>